<section id="runes" class="section">
  <h2>// runes</h2>
  <ul class="rune-list">
    <li>
      <a href="runes/2025-09-30-them-ones/index.html">ode to them ones</a>
      <time datetime="2025-09-30">2025‑09‑30</time>
    </li>
  </ul>
</section>
