<a class="brand" href="index.html" aria-label="Home">
  <pre class="ascii glitch" aria-hidden="true">
_______       .___________  ________  ________ 
\   _  \    __| _/\_____  \ \_____  \/   __   \
/  /_\  \  / __ |  /  ____/   _(__  <\____    /
\  \_/   \/ /_/ | /       \  /       \  /    / 
 \_____  /\____ | \_______ \/______  / /____/  
       \/      \/         \/       \/          
  </pre>
</a>
<h1 class="sr-only" data-slot="sr-title">pull up a chair</h1>
<nav class="nav">
  <div class="nav-links">
    <a href="blurbs.html" data-nav="blurbs">blurbs</a>
    <a href="tracks.html" data-nav="tracks">tracks</a>
    <a href="runes.html" data-nav="runes">runes</a>
    <a href="info.html" data-nav="info">info</a>
  </div>
  <div class="nav-social" aria-label="Elsewhere">
    <a class="nav-icon nav-icon-github" href="https://github.com/0d239" target="_blank" rel="noreferrer" aria-label="GitHub">github</a>
    <a class="nav-icon nav-icon-x" href="https://x.com/0d239" target="_blank" rel="noreferrer" aria-label="X">x</a>
    <a class="nav-icon nav-icon-soundcloud" href="https://soundcloud.com/0d239" target="_blank" rel="noreferrer" aria-label="SoundCloud">sound</a>
  </div>
</nav>
