<%
  const srTitleText = typeof srTitle !== 'undefined' ? srTitle : 'pull up a chair';
  const navCurrent = typeof current !== 'undefined' ? current : null;
%>
<header class="site-header">
  <a class="brand ascii-brand" href="index.html" aria-label="Home">
    <div class="ascii-stack" aria-hidden="true">
      <pre class="ascii glitch ascii-frame ascii-frame--primary">
 $$$$$$\        $$\  $$$$$$\   $$$$$$\   $$$$$$\  
$$$ __$$\       $$ |$$  __$$\ $$ ___$$\ $$  __$$\ 
$$$$\ $$ | $$$$$$$ |\__/  $$ |\_/   $$ |$$ /  $$ |
$$\$$\$$ |$$  __$$ | $$$$$$  |  $$$$$ / \$$$$$$$ |
$$ \$$$$ |$$ /  $$ |$$  ____/   \___$$\  \____$$ |
$$ |\$$$ |$$ |  $$ |$$ |      $$\   $$ |$$\   $$ |
\$$$$$$  /\$$$$$$$ |$$$$$$$$\ \$$$$$$  |\$$$$$$  |
 \______/  \_______|\________| \______/  \______/ 
                                                  
</pre>
      <pre class="ascii glitch ascii-frame ascii-frame--alternate">
 $$$$$$\   $$$$$$\                    
$$ ___$$\ $$  __$$\                   
\_/   $$ |$$ /  \__|$$$$$$\  $$$$$$\  
  $$$$$ / $$$$\    $$  __$$\ \____$$\ 
  \___$$\ $$  _|   $$ |  \__|$$$$$$$ |
$$\   $$ |$$ |     $$ |     $$  __$$ |
\$$$$$$  |$$ |     $$ |     \$$$$$$$ |
 \______/ \__|     \__|      \_______|
      </pre>
    </div>
  </a>
  <h1 class="sr-only"><%= srTitleText %></h1>
  <%- include('./nav', { current: navCurrent }) %>
</header>
