.blurb-fear {
  --title: "fear";
  --date: "2025-10-03";
  --tags: "#leon";
  --body: "fear only threatens me when i let silence accumulate";
  --blurb-bg: #0d0d0d;
  --blurb-fg: var(--fg);
  --blurb-border: #333333;
}
