.blurb-fear {
  --title: "fear";
  --date: "2025-10-03";
  --tags: "#fear faith";
  --body: "fear threatens me when i let silence accumulate. but i return to the art and i stop being nervous";
  --blurb-bg: #020b02;
  --blurb-fg: #39ff14;
  --blurb-border: #004c00;
}
